<div class="jumbotron">
  <div class="container">
      <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Under Development</h1>
            <br/>
            <br/>
            <p class="text-center"><a class="btn btn-primary btn-lg" href="mailto:abratten@mac.com" role="button">Contact Us</a></p>
        </div>
      </div>
  </div>
</div>
<div class="container">
    <div class="row">
      <div class="col-md-12">
          <%= image_tag('dashboard2.jpg', :class => 'img-responsive block-center') %>
      </div>
    </div>
</div>
