<ul class="nav nav-stacked" id="sidebar">
  <li><a href="#sec0">Institutional Partners</a></li>
  <li><a href="#sec1">Custom Products</a></li>
  <li><a href="#sec2">FX Products</a></li>
  <li><a href="#sec3">Corporate Ethics</a></li>
  <li><a href="#sec4">Intro PI</a></li>
</ul>
