<div class="col-md-9" id="mainCol">
	<br>
	<h2 id="sec3">Corporate Ethics</h2>

	<hr class="col-md-12">
		<p>Our focus is on the client. We didn’t want our powerful tools to be used in generating static fees regardless of performance. Regardless of the product we are creating, our focus has always been on the success of the retail client and their gains. </p>
    <hr class="col-md-12">
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
</div>
