<div class="col-md-9" id="mainCol">
	<br/>
	<h2 id="sec2">FX products</h2>

	<hr class="col-md-12">
		<p>Why do we focus on FX?  When the market crashed in 4Q 2008, we launched our first successful version and recorded a 550% return on variety cap portfolios. The reason we made the decision to target the forex market is due to its high volatility, unpredictability and we wanted to demonstrate our superior algorithm based PI in the harshest environment.</p>
	    <br/>
	    <a href="#">[link] to 2008 October system performance track record available on request*</a>
	    <p>*there were a few private funds which allows the company to disclose under any compliance</p>
	    <p>Since 2008, we have launched V3, the most all-around profit generating model. Due to such high volume capabilities, this product is available to pre-approved and confirmed clients.</p>
    <hr class="col-md-12">
</div>
