<section id="video-hero">
    <div class="container">
        <div class="row">
            <h1 class="text-center vinqulo-title">Vinqulo investment analysis software.</h1>
            <!-- <h2 class="text-center vinqulo-title">Learn more about us.</h2> -->
            <!-- <p class="col-md-8 col-md-offset-2 text-center vinqulo-paragraph">Etsy austin selfies, wolf 3 wolf moon portland actually franzen dreamcatcher fashion axe squid hashtag twee raw denim.</p> -->

            <div  class="video" >





                <!-- <a class="venobox play_btn" data-autoplay="true" data-type="youtube" href="http://youtu.be/LBI2iyLr9zE">
                    <i class="fa fa-play-circle fa-5x" aria-hidden="true"></i>
                </a> -->
                <div class="placeholder">
                    <div id="youtube-video"></div>

                        <!-- <div class="col-xs-12 col-md-push-5" style="padding-top: 250px;color: #fff;padding-left: 50px;">

                        </div> -->

                </div>
            </div>
        </div>
    </div>
</section>


<section id="section_1">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 vinqulo-intro-body">
                <h2 class="text-center">Vinqulo has been a leader in investment analysis software since 2005.</h2>
                <p class="text-center">Since 2005 there have been 3 successful versions to handle different market needs. The latest V3 AI platform features a static spread, high frequency absolute return Fx solution. (Version 3.0)</p>
            </div>
            <div class="col-md-6 col-md-offset-3">
                <hr>
            </div>
            <!-- <div class="col-md-8 col-md-offset-2 testimonial">
                <div class="face-cont col-sm-2 hidden-xs">
                    <span class="face face2"></span>
                </div>
                <blockquote class="col-sm-10">
                    <p>
                        Butcher beard gentrify, taxidermy literally kitsch XOXO vice. Venmo vice craft beer direct trade, readymade 8-bit actually synth mixtape.
                    </p>
                    <cite>Don Hutchings, Investor</cite>
                </blockquote>
            </div> -->
        </div>
    </div>
</div>

<section id="promo">
    <div class="container">
        <h3 class="col-md-6 col-md-push-1">Reserve your seat to get the software today.</h3>
        <div class="col-md-4 col-md-push-1">
            <%= link_to 'RESERVE YOUR SEAT', login_path, :class => 'fbtn btn-flat btn-promo btn-promo-track' %>
            <!-- <a href="#" class="fbtn btn-flat btn-promo btn-promo-track">RESERVE YOUR SEAT</a> -->
        </div>
    </div>
</section>

<section id="steps">
    <div class="container">
        <h2 class="text-center col-xs-12">how it works</h2>
        <p class="text-center col-xs-12">Here’s how it’s done:</p>

        <!-- <div class="explain-block">
            <span class="romb_icon">1</span>
            <h3>create a free account in 20 seconds</h3>
            <p>No approval process, no forms to fill, no phone calls to make and no obligation.</p>
            <hr>
        </div>
        <div class="explain-block">
            <span class="romb_icon">2</span>
            <h3>create a free account in 20 seconds</h3>
            <p>No approval process, no forms to fill, no phone calls to make and no obligation.</p>
            <hr>
        </div>
        <div class="explain-block">
            <span class="romb_icon">3</span>
            <h3>create a free account in 20 seconds</h3>
            <p>No approval process, no forms to fill, no phone calls to make and no obligation.</p>
            <hr>
        </div>
        <div class="explain-block">
            <span class="romb_icon">4</span>
            <h3>create a free account in 20 seconds</h3>
            <p>No approval process, no forms to fill, no phone calls to make and no obligation.</p>
            <button class="get_started fbtn blue">try it now. risk free</button>
        </div> -->
    </div>
</section>
