<div class="col-md-9" id="mainCol">
	<br>
	<h2 id="sec0">Institutional Partners</h2>
    <p>Over the years we have been able to successfully service our partners with the following software solutions.</p>

    	<hr class="col-md-12">
    	<p>V1  - This is the version where it all started when we introduced many (functional / operational / viable / executable) risk management charts to our RFED partners and Introductory Brokers using 2-min, 15-min, 30-min, 1-hour and 1-day charts. These were done for all products including equities, bonds, mutual funds, currency, and derivative products.</p>
    <p>V2 - Version 2 utilized the same charting system as Version 1, but not gave entry and exit positions on the charts and you could play or not play them based on the chart in front of you. </p>
    <p>V3 - The latest version of our software is where our partners are enjoying fully automated trading solutions to benefit the (inexperienced / non-professional / unskilled) clients in account volume activity to benefit both them and us. </p>
    <hr class="col-md-12">
	<br>
	<br>
	<br>
	<br>
</div>
