<div class="col-md-9" id="mainCol">
    <br>
    <p>PI is our main software program that executes the trades for our clients based on a daily calibration. The PI’s main job is to perform multiple stages of data integrity checks and execute trades accordingly.</p>
    <hr class="col-md-12">
    <p>At the end of a trading day information from PI is handed over to SI and 26,000+ scenarios are crunched, analyzed and calibrated and given to AI. AI then performs an analysis on the best fits and puts the optimal settings back into PI for the following trading period. </p>
</div>
